h1 {
    color: blue
    }
p {
    color: white
}
.important {
    display: inline;
}
h2 {
    color:violet
    
}
body {
    background-color:black
}

ul {
    color:whitesmoke
}
.unimportant {
display:inline-flex;
}
